{% extends "layout.html" %}

{% block title %} Review {% endblock %}

{% block body %}
<a class="logout" href="{{url_for('logout')}}">LogOut</a> </br>
<div class="bookinfo">
	<h3>Book Info </h3>
	<p>Title :{{data.title}} </p>
	<p>Author :{{data.author}} </p>
	<p>Year : {{data.year}} </p>
	<p>isbn :{{data.isbn}} </p>
	</br>
	<form class="comment" action="{{url_for('review')}}">
		<input type="radio" id="star5" name="rate" value="5"/>
		<label for="star5" title="text">5 stars</label>
		<input type="radio" id="star4" name="rate" value="4"/>
		<label for="star4" title="text">4 stars</label>
		<input type="radio" id="star3" name="rate" value="3"/>
		<label for="star3" title="text">3 stars</label>
		<input type="radio" id="star2" name="rate" value="2"/>
		<label for="star2" title="text">2 stars</label>
		<input type="radio" id="star1" name="rate" value="1"/>
		<label for="star1" title="text">1 stars</label>	
		<textarea type="text" name="usercomment" rows="4" cols="50" placeholder="Comment..."></textarea></br>
		<button class="btttn" type="submit">Comment</button>
	</form>
</div>

{% endblock %}